<nav class="green">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"> <i class="material-icons">cast_connected</i>KyInfo - Angular 7</a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/health">Santé</a></li>
            <li><a routerLink="/science">Science</a></li>
            <li><a routerLink="/technology">Technologie</a></li>
            <li><a routerLink="/business">Business</a></li>
            <li><a routerLink="/sports">Sport</a></li>
            <li><a routerLink="/entertainment">Divertissement</a></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>